<template>
  <div class="about">
    <b-container>
      <Log/>
    </b-container>
  </div>
</template>

<script>
// @ is an alias to /src
import Log from '@/components/Log.vue'

export default {
  name: 'About',
  data () {
  },
  components: {
    Log
  }
}
</script>
