<template>
  <div class="log">
    <b-container>
      <h3 class="float-left">รายการ</h3>
    <b-navbar-nav class="float-right">
      <b-nav-form>
        <b-button size="sm" variant="success" class="mr-sm-2" @click="addNewData">Add Data</b-button>
      </b-nav-form>
    </b-navbar-nav>
    <b-modal
      id="modal-form-data"
      ref="modal-form-data"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
    <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="UserId :"
          label-for="userid"
          :invalid-feedback="invalidFeedbackUserId"
          :valid-feedback="validFeedbackUserId"
          :state="stateUserId"
        >
          <b-form-input
            id="userid-input"
            v-model="form.userid"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Message :"
          label-for="message"
          :invalid-feedback="invalidFeedbackMessage"
          :valid-feedback="validFeedbackMessage"
          :state="stateMessage"
        >
          <b-form-input
            id="message-input"
            v-model="form.message"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Date :"
          label-for="datetime"
          :invalid-feedback="invalidFeedbackDateTime"
          :valid-feedback="validFeedbackDateTime"
          :state="stateDateTime"
        >
          <datepicker placeholder="Select Date" v-model="form.datetime"></datepicker>
        </b-form-group>
      </form>
    </b-modal>
    <b-table id="my-table" striped hover
      :items="logList"
      :fields="fields"
      :per-page="perPage"
      :current-page="currentPage"
      >
    </b-table>
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
    ></b-pagination>
    </b-container>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'

export default {
  data () {
    return {
      perPage: 5,
      currentPage: 1,
      title: 'เพิ่มข้อมูลใหม่',
      form: {
        id: -1,
        userid: '',
        message: '',
        datetime: ''
      },

      logList: [
        { id: 1, userid: 'log01', message: 'สวัสดีจ้าา', datetime: 'Mon Dec 14 2020 13:45:00 GMT+0700 (Indochina Time)' },
        { id: 2, userid: 'log02', message: 'ไงค้าบบ', datetime: 'Tue Dec 15 2020 10:40:00 GMT+0700 (Indochina Time)' },
        { id: 3, userid: 'log03', message: 'ไงค้าบบ', datetime: 'Tue Dec 15 2020 10:40:00 GMT+0700 (Indochina Time)' },
        { id: 4, userid: 'log04', message: 'ไงค้าบบ', datetime: 'Tue Dec 15 2020 10:40:00 GMT+0700 (Indochina Time)' },
        { id: 5, userid: 'log05', message: 'ไงค้าบบ', datetime: 'Tue Dec 15 2020 10:40:00 GMT+0700 (Indochina Time)' },
        { id: 6, userid: 'log06', message: 'ไงค้าบบ', datetime: 'Tue Dec 15 2020 10:40:00 GMT+0700 (Indochina Time)' },
        { id: 7, userid: 'log07', message: 'ไงค้าบบ', datetime: 'Tue Dec 15 2020 10:40:00 GMT+0700 (Indochina Time)' },
        { id: 8, userid: 'log08', message: 'ไงค้าบบ', datetime: 'Tue Dec 15 2020 10:40:00 GMT+0700 (Indochina Time)' },
        { id: 9, userid: 'log09', message: 'ไงค้าบบ', datetime: 'Tue Dec 15 2020 10:40:00 GMT+0700 (Indochina Time)' },
        { id: 10, userid: 'log10', message: 'ไงค้าบบ', datetime: 'Tue Dec 15 2020 10:40:00 GMT+0700 (Indochina Time)' },
        { id: 11, userid: 'log11', message: 'ไงค้าบบ', datetime: 'Tue Dec 15 2020 10:40:00 GMT+0700 (Indochina Time)' }
      ],
      lastId: 12,
      fields: ['id', 'userid', 'message', 'datetime']
    }
  },
  components: {
    Datepicker
  },
  methods: {
    addNewData () {
      console.log('Add new data')
      this.$bvModal.show('modal-form-data')
    },
    resetModal () {
      this.form = {
        id: -1,
        userid: '',
        message: '',
        datetime: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check Validate
      if (this.stateUserId === false || this.stateMessage === false || this.stateDateTime === false) return
      if (this.form.id > 0) {
        // Do when pass validation
        this.updateData(this.form)
      } else {
        this.addData(this.form)
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-data')
      })
    },
    addData (data) {
      data.id = this.lastId++
      this.logList.push(data)
    },
    updateData (data) {
      const index = this.logList.findIndex(item => item.id === data.id)
      this.logList.splice(index, 1, data)
    }
  },
  computed: {
    rows () {
      return this.logList.length
    },
    stateUserId () {
      return this.form.userid.length >= 5
    },
    invalidFeedbackUserId () {
      if (this.form.userid.length > 5) {
        return ''
      } else if (this.form.userid.length > 0) {
        return 'UserId ต้องกรอกอย่างน้อย 5 ตัวอักษร'
      } else {
        return 'กรุณากรอก User Id'
      }
    },
    validFeedbackUserId () {
      return this.stateUserId === true ? 'สำเร็จ' : ''
    },
    stateMessage () {
      return this.form.message.length >= 5
    },
    invalidFeedbackMessage () {
      if (this.form.message.length > 5) {
        return ''
      } else {
        return 'กรุณากรอกคำถาม'
      }
    },
    validFeedbackMessage () {
      return this.stateMessage === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
